@charset "UTF-8";

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  background-color: #388bff;
  position: fixed;
  width: 100%;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
.header-logo a {
  color: #f2ff7b;
}
nav {
  display: block;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  padding: 30px;
}
nav li a {
  color: #fff;
}
